
body {
  background-color: #edf;
  font-size: 1rem;
  font-family: Verdana, Geneva, sans-serif;
}



header, h1{
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #4e345e;
}


.article1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #ff2341;
  font-size: 2rem;
  color: #dd8967;
  padding: 5px;
  line-height:2em;
}

.article2 {
  font-family: 'Slabo 27px', serif;
  background-color: #adef45;
  font-size: 1rem;
  color: #336278;
  padding: 25px;
  line-height: 1.6em;
}

.article3 {
  font-family: 'Roboto Slab', serif;
  background-color: #883765;
  font-size: 1.25em;
  color: #ddf438;
  padding: 50px;
  line-height: 1.25em;
}

.article4 {
  font-family: 'Ranga', cursive;
  background-color: #fedade;
  font-size: 30px;
  color: #229956;
  padding: 70px;
  line-height: 1.75em;
}

.article5 {
  font-family: 'Indie Flower', cursive;
  background-color: #75fed8;
  font-size: 45px;
  color: #128165;
  padding: 90px;
  line-height: 2.5em;
}

.border1 {
  border: 5px solid #342156;
}

.header {

}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3rem;
}


/*
    1.A different background color.

    2.A different font family.


    font-family: 'Open Sans', sans-serif;

    font-family: 'Slabo 27px', serif;

    font-family: 'Roboto Slab', serif;

    font-family: 'Ranga', cursive;

    font-family: 'Indie Flower', cursive;



    3.A different font size.

    4.A different font color.

    5.A different line height.

    6.A different padding value.

    7.Each should have a border, but with rounded corners of different size (e.g. one article could have barely rounded borders, but the next one could be almost circular in shape)*/
