
body {
  background-color: #edf;
  font-size: 1rem;
  font-family: Verdana, Geneva, sans-serif;
}



header, h1{
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #4e345e;
}


.article1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #ff2341;
  font-size: 2rem;
  color: #dd8967;
  padding: 5px;
  line-height:2em;
}
/*
.article2 {
  font-family:
  background-color:
  font-size:
  color:
  padding:
  line-height:
}

.article3 {
  font-family:
  background-color:
  font-size:
  color:
  padding:
  line-height:
}

.article4 {
  font-family:
  background-color:
  font-size:
  color:
  padding:
  line-height:
}

.article5 {
  font-family:
  background-color:
  font-size:
  color:
  padding:
  line-height:
}

*/
.header {

}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3rem;
}


/*
    1.A different background color.

    2.A different font family.


    font-family: 'Open Sans', sans-serif;

    font-family: 'Slabo 27px', serif;

    font-family: 'Roboto Slab', serif;

    font-family: 'Ranga', cursive;

    font-family: 'Indie Flower', cursive;



    3.A different font size.

    4.A different font color.

    5.A different line height.

    6.A different padding value.

    7.Each should have a border, but with rounded corners of different size (e.g. one article could have barely rounded borders, but the next one could be almost circular in shape)*/
